<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="../static/script/orderFood.js"></script>
    <title>Order Food</title>
</head>
<body>
    
    <form action="/generateQRCode/{{stall_name}}" method="post">

        <div class="text-center mt-5">
            <input class="form-control w-25 d-inline border border-dark" type="text" name="username" id="username" placeholder="username" />
            <input class="form-control w-25 d-inline border-dark" type="password" name="password" id="password" pattern="[0-9]*" inputmode="numeric" placeholder="enter pin" maxlength="6" minlength="6" />
            <input class="form-control-checkbox" type="checkbox" name="showpassword" onclick="showPassword()" />
            <label for="showpassword">Show Password</label>
        </div>

        <table class="table text-center">
            <thead>
                <th scope="col">Item</th>
                <th scope="col">Base Price</th>
                <th scope="col">Quantity Selected</th>
                <th scope="col">Sub Total</th>
            </thead>
            <tbody>
                {% for i in range(no_of_food_items) %}
                <tr>
                    <td id="item-{{i}}_name">{{food_items[i][0]}}</td>
                    <td>
                       <strong id="item-{{i}}_price">{{food_items[i][1]}}</strong>
                    </td>
                    <td>
                        <button name="item-{{i}}" type="button" onclick="decrementQuantity(this)">-</button>
                        <input class="text-center" type="number" name="{{food_items[i][0]}}" id="item-{{i}}" value="0" readonly />
                        <button name="item-{{i}}" type="button" onclick="incrementQuantity(this)">+</button>
                    </td>
                    <td>
                        <strong class="text-center" type="number" name="item-{{i}}_subTotal" id="item-{{i}}_subTotal">0</strong>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>
                        <h5><strong>Grand Total</strong></h5>
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        <h4><strong class="text-success" name="grandTotal" id="grandTotal">0</strong></h4>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success float-end m-3" type="submit">Generate QR</button>

    </form>

    <!-- Don't write below this line -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    

</body>
</html>