<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles/stalls.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Arima:wght@200&family=Bangers&family=Charmonman:wght@700&family=Merriweather+Sans&family=Rouge+Script&family=Satisfy&family=Stick+No+Bills:wght@400;800&family=The+Nautigal:wght@400;700&display=swap" rel="stylesheet">        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <title>Shops</title>
        
    
    
    
    </head>
    <body class="bg-success" >
            <h1 class="gfg text-dark mt-5">-#Good Food Is Good Mood.</h1>
            
         
        <form class="bg-success">
            <div class="card container bg-warning">
                <div class="row">
                    {% for stall_name in stalls_names %}
                    <div class="col-md-4">
                        <div class="card text-center" align:"center" style="width: 18rem;">
                            <img class="card-img-top" src="{{url_for('static', filename='/images/'+stall_name+'.jpeg')}}" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">{{stall_name}}</h5>
                              <button class="btn btn-primary float-end" type="submit" formaction="{{'/orderFood/'+stall_name}}">Get Food</button>
                              
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </form>
        

        <!-- Don't write below this line -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    </body>
</html>